<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!--Importacion de todas las importaciones de los elementos polymer a utilizar-->
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<!--todos los elemntos polymer deben ir en minusculas y con guiones -->
<dom-module id="gestor-clientes">
  <template>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Gestor de Clientes</h1>
        <button class="btn btn-success" on-click="obtenerClientes">Mostrar clientes</button>
        <button class="btn btn-success" on-click="obtenerClientes">Mostrar clientes</button>

      </div>

      <div class="row">
        <table class="table table-striped">
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>[[item.CostumerID]]</td>
                <td>[[item.ContactName]]</td>
                <td>[[item.CompanyName]]</td>
              </tr>

            </template>
          </tbody>
        </table>
      </div>
<!--
      <div class="row">
        <br>
        <button on-click="incrementar" class="col-xs-12 col-lg-4 btn btn-warning" type="button" name="button">Cargar datos</button>
        <br>
        Bidireccional: <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}">
        <br>
        Unidireccional: <input type="text" value="[[prop1]]">
      </div>

    <div class="row">
    <table class="table table-striped col-lg 12col-xs-12">
      <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
      </thead>
      <tbody>
        <tr>
          <td>[[prop2]]</td>
          <td>Selena</td>
          <td>Mora</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Elena</td>
          <td>Rodriguez</td>
        </tr>
      </tbody>
    </table>
    </div>-->
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {

      //regresa el componente polymer: gestor-clientes
      static get is() { return 'gestor-clientes'; }

      static get properties() {
        return {
          clientes: {
            type: Array,
            notify:true
          }
        };
    }

    obtenerClientes(){
      var request = new XMLHttpRequest();
      request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
      request.setRequestHeader("Accept","application/json");
      request.send();

      this.clientes = JSON.parse(request.responseText).value;
      //console.table(this.clientes);
    }

    agregarClientes(){
      var request = new XMLHttpRequest();
      request.open("POST","URLdeNodeJS",false);
      request.setRequestHeader()
      
      request.setRequestHeader("Accept","application/json");
      request.setRequestHeader("Content-Type","application/json");

      var NuevoCliente = {"Customer ID": "12345", "ContactName":"Pepe", "CompanyName": "Pepes bar" };
      var body = JSON.stringify(nuevoCliente);
      request.send(body);

      this.respuesta = request.responseText;
      console.log(this.respuesta);
    }
  }
    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
