<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!--Importacion de todas las importaciones de los elementos polymer a utilizar-->

<!--todos los elemntos polymer deben ir en minusculas y con guiones -->
<dom-module id="demopolymer-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <h3>Mi valor es [[prop2]]</h3>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemopolymerApp extends Polymer.Element {

      //regresa el componente polymer: demopolymer-app
      static get is() { return 'demopolymer-app'; }

      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'demopolymer-app'
          },

          //Agregando otra propiedad
          prop2: {
            type: Number,
            value: 999
          }

        };
      }
    }

    window.customElements.define(DemopolymerApp.is, DemopolymerApp);
  </script>
</dom-module>
