<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!--Importacion de todas las importaciones de los elementos polymer a utilizar-->

<!--todos los elemntos polymer deben ir en minusculas y con guiones -->
<dom-module id="mi-visor">
  <template>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">
      <div class="row">
        <img width="100 px" height="200px" class="col-xs-12 col-lg-8" src="https://image.flaticon.com/icons/svg/112/112548.svg" alt="">
      </div>

      <div class="row">
        <br>
        <button on-click="incrementar" class="col-xs-12 col-lg-4 btn btn-warning" type="button" name="button">Cargar datos</button>
        <br>
        Bidireccional: <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}">
        <br>
        Unidireccional: <input type="text" value="[[prop1]]">
      </div>

    <div class="row">
    <table class="table table-striped col-lg 12col-xs-12">
      <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
      </thead>
      <tbody>
        <tr>
          <td>[[prop2]]</td>
          <td>Selena</td>
          <td>Mora</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Elena</td>
          <td>Rodriguez</td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {

      //regresa el componente polymer: mi-visor
      static get is() { return 'mi-visor'; }

      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-visor'
          },

          //Agregando otra propiedad
          prop2: {
            type: Number,
            value: 999
          },

          prop3: {
            type: String,
            value: 'Indique su usuario'
          }
        };
      }

      incrementar(){
        this.prop2 = this.prop2 + 1;
        console.log("prop1: " + this.prop1);
        console.log("prop2: " + this.prop2);
      }

    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
